

 .container1{
    
   
    height: 100%;
    width: 100%;
  
  }
.container{
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
  
}

ion-grid {
  --ion-grid-column-padding: 10px;
  border-collapse: collapse;
  border-style: hidden;
  
  ion-row:first-child {
    background-color:  #2995d4;
    font-weight: bold;
  }
  ion-col {
    border: 1px solid black;
    border-bottom: 0;
    border-right: 0;
  }
  ion-col:last-child {
    border-right: 1px solid black;
  }
  
  ion-row:last-child {
    border-bottom: 1px solid black;
  }
}