
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
     <div>
      <ion-title>
      Welcome to HomePage
      </ion-title>
    </div>



    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <!-- <div style="position:absolute; top:2; right:0; margin-right: 10px;"> -->
<!--    <ion-button (click)="onClick()" style="margin-right: 10px; margin-top: 10px; height:30px;">Personal</ion-button>-->
<!--    <ion-button (click)="onClickLogin()" style="margin-right: 7px; margin-top: 10px; height:30px;">  Login </ion-button>-->

    <!-- <ion-button (click)="haptic()" style="margin-right: 10px; margin-top: 10px; height:30px;">single vibrate</ion-button>
    <ion-button (click)="haptic1()" style="margin-right: 7px; margin-top: 10px; height:30px;">  vibrate twice  </ion-button>
    <ion-button (click)="socialShare()" style="margin-right: 7px; margin-top: 10px; height:30px;">  Social Share  </ion-button>
    <ion-button (click)="navigate()" style="margin-right: 7px; margin-top: 10px; height:30px;">  Basic Share  </ion-button> -->
  <!-- </div> -->

  <!-- <img src="src\assets\icon\icons8-share-30.png" > -->

  <ion-button (click)="login()" style="margin-right: 7px; margin-top: 10px; height:30px;">  Basic Share  </ion-button>

  <ion-button (click)="popup()" style="margin-right: 7px; margin-top: 10px; height:30px;">  popup  </ion-button>

</ion-content>
